
<ion-header>
  <ion-toolbar>
    <ion-title>
      Sensors
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
   
    <ion-card-content>
      <p> Light Sensor Data: {{ lightValue }}</p>
    </ion-card-content>
    <ion-card-content>
      <p> Acceleration Sensor Data</p>
      <p> Acceleration X: {{ AccelerationX }}</p>
      <p> Acceleration Y: {{ AccelerationY }}</p>
      <p> Acceleration Z: {{ AccelerationZ }}</p>
      
      
    </ion-card-content>
    <ion-card-content>
      <p> orientation Sensor Data </p>
      <p> Azimuth: {{ Azimuth }}</p>
      <p> Pitch: {{ Pitch }}</p>
      <p> Roll: {{ Roll }}</p>
      
      
    </ion-card-content>
   
  </ion-card>
</ion-content>

<ion-content>
  <!-- <ion-button (click)="startDeviceMotion()">Start Device Motion</ion-button> -->
  <!-- <ion-button (click)="startDeviceOrientation()">Start Device Orientation</ion-button> -->
  <!-- <ion-button (click)="getCurrentLocation()">Get Current Location</ion-button> -->
  <!-- <ion-button (click)="testPluginMethod('test data heree')">test Plugin</ion-button> -->
  <ion-button (click)="getLightSensor()">Get Light Data</ion-button>
  <ion-button (click)="getAcceleration()">Get Acceleration Data</ion-button>
  <ion-button (click)="getOrientation()">Get Orientation Data</ion-button>
  <!-- <ion-button (click)="getLightData()">Get Light Data</ion-button> -->
  <!-- <ion-button (click)="startLightSensor()">Start Light Sensor</ion-button>
  <ion-button (click)="stopLightSensor()">Stop Light Sensor</ion-button> -->

</ion-content>



